@media screen and (min-width: 1000px) {
    .site-header {
        color: #fff;
        font-size: 62px;
        font-weight: 200;
        padding-bottom: 20px;
    }

    .carosel-floater {
        position: absolute;
        bottom: 150px;
        left: 50%;
        z-index: 15;
        width: 70%;
        padding-left: 0;
        margin-left: -35%;
        text-align: center;
        list-style: none;
        max-height: 100%;
        padding: 100px 0;
        font-variant: small-caps;
        background-color: rgba(30, 30, 30, 0.65);
    }
    
    .btn-outline {
        font-variant: normal;
        -webkit-border-radius: 5;
        -moz-border-radius: 5;
        border-radius: 5px;
        color: #fff;
        font-size: 26px;
        font-weight: 200;
        padding: 10px 40px 10px 40px;
        border: solid #fff 1px;
        text-decoration: none;
        background: none;
        margin: 5px 15px;
        width: 300px;
    }

    .btn-outline:hover {
        background: rgba(100, 100, 100, 0.45);
        color: #fff;
        text-decoration: none;
    }
}

@media screen and (max-width: 999px) {
    .site-header {
        color: #fff;
        font-size: 50px;
        font-weight: 200;
    }

    .carosel-floater {
        position: absolute;
        bottom: 100px;
        left: 50%;
        z-index: 15;
        width: 70%;
        padding-left: 0;
        margin-left: -35%;
        text-align: center;
        list-style: none;
        max-height: 100%;
        padding: 80px 0;
        font-variant: small-caps;
        background-color: rgba(30, 30, 30, 0.65);
    } 
    
    .btn-outline {
        font-variant: normal;
        -webkit-border-radius: 5;
        -moz-border-radius: 5;
        border-radius: 5px;
        color: #fff;
        font-size: 18px;
        font-weight: 200;
        padding: 10px 40px 10px 40px;
        border: solid #fff 1px;
        text-decoration: none;
        background: none;
        margin: 5px 15px;
        width: 200px;
    }

    .btn-outline:hover {
        background: rgba(100, 100, 100, 0.45);
        color: #fff;
        text-decoration: none;
    }
}

footer {
    text-align: center;
}