html,
body {
    height: 100%;
}

body {
    padding-top: 80px;
}

.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}

/* Home Page Carousel */

header.carousel {
    height: 75%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

/* Navbar overrides */
.navbar-custom {
    background-color: #B40101;
    border-color: #888;
    color: #fff;
    min-height: 80px;
}

.navbar-fixed-top {
    min-height: 80px;
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 80px;
    font-size: 24px;
}

@media (max-width: 767px) {
    .navbar-nav > li > a {
    line-height: 40px;
    padding-top: 5px;
    padding-bottom: 5px;}
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

.navbar-inverse .navbar-nav>li:hover {
    background-color: #930000;
}

.navbar-inverse .navbar-brand-custom {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 30px;
    height: 80px;
}

#kw_logo {
    display: inline-block;
    height: 80px;
    padding: 10px 0 10px 10px;
}

.disclaimer {
    color: #606871;
    font-size: 12px;
}

.experience {
    font-size: 18px;
}

/* 404 Page Styles */

.error-404 {
    font-size: 100px;
}

/* Pricing Page Styles */

.price {
    display: block;
    font-size: 50px;
    line-height: 50px;
}

.price sup {
    top: -20px;
    left: 2px;
    font-size: 20px;
}

.period {
    display: block;
    font-style: italic;
}

/* Footer Styles */

footer {
    margin: 50px 0;
}

/* Responsive Styles */

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
}